{
    "token": "",
    "prefix": "",
    "VoiceChannelHelper": {
        "emitLog": "true",
        "purgeInterval": 1800000
    },
        "PostgreSQL": {
        "user": "postgres",
        "host": "localhost",
        "database": "msc",
        "password": "",
        "port": 0000
    }
}