{
    "token": "",
    "VoiceChannelHelper": {
        "emitLog": "true",
        "purgeInterval": 1800000
    },
    "RoleMention": {
        "prefix": "!",
        "roleWhitelist": [
            ""
        ]
    }
}